<div style="text-align: center;">
    <span style="font-family: 'Arial Black', Gadget, sans-serif; color: #2c3e50; font-size: 32px; text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);">University of Engineering And Technology Peshawar</span>
</div>

<div style="text-align: center;">
    <span style="font-family: 'Georgia', serif; color: #8e44ad; font-size: 28px;">Jalozai Campus</span>
</div>

__________________

<div
    style="
        margin: 50px auto;
        padding: 30px 20px;
        border: 2px solid #333;
        border-radius: 15px;
        background: #ffffff;
        max-width: 700px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
    "
>
    <h1
        style="
            font-family: 'Times New Roman', serif;
            font-size: 28px;
            color: #2c3e50;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1.5px;
        "
    >
        Course Title
    </h1>
    <h2
        style="
            font-family: 'Times New Roman', serif;
            font-size: 24px;
            color: #34495e;
            margin-top: 10px;
        "
    >
        Introduction To AI Programming
    </h2>
</div

### üìã <span style="color: #34495e;">Lab Information</span>

- **Lab No.**: <span style="color: #e74c3c;">10</span>
- **Lab Title**: <span style="color: #2980b9;">List Comprehension </span>

### üôã‚Äç‚ôÇÔ∏è <span style="color: #34495e;">Submitted By</span>

- **Name**: <span style="color: #2980b9;">Aizaz Ali</span>
- **Roll No.**: <span style="color: #e74c3c;">24JZELE0558</span>
- **Section**: <span style="color: #16a085;">B</span>

---

_________________
## **Lab Report Tasks:**

_________________

______________

You are helping a small learning center clean and organize small classroom datasets.
They give you short lists and dictionaries and want quick transformations using comprehensions only, because they want the code short and readable.

### A. List Comprehension Tasks 
### **Task 1:**  Basic list comprehension
Create a new list of numbers from 0 to 9 using a list comprehension, not a loop.<br>
basic syntax [expression for item in iterable]

In [2]:
numbers=[x for x in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

______________

### **Task 2:** Filtering items with if
Given:<br>
nums = [1, 2, 3, 4, 5, 6]<br>
Use a list comprehension with an if clause to keep only the even numbers.<br>
 [expr for item in iterable if condition]<br>

In [12]:
nums=[1,2,3,4,5,6]
even_nums=[x for x in nums if x%2==0]
even_nums

[2, 4, 6]

__________________

### **Task 3:**  Conditional expression inside comprehension
Given:<br>
nums = [1,2,3,4]<br>
Create a new list where even numbers become "even" and odd numbers become "odd".<br>
expr_if_true if condition else expr_if_false inside comprehension<br>

In [18]:
nums=[1,2,3,4]
even_and_odd = ["even" if x % 2 == 0 else "odd" for x in nums]
even_and_odd

['odd', 'even', 'odd', 'even']

___________

### **Task 4:** Simple nested list comprehension
Given a list of lists:<br>
data = [[1,2], [3,4]]<br>
Flatten it into a single list using a nested list comprehension.<br>

In [30]:
data=[[1,2],[3,4]]
one_list_data=[x for s in data for x in s]
one_list_data

[1, 2, 3, 4]

__________________